body{
   min-height: 100vh;
   padding-top: 0!important;
}

.gameWrapper{
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
}

.game{
   position: relative;
   width: 100%;
   height: 100%;
}

.game-controls{
  display: none;
}

.game-controls.found{
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 300px;
      height: 200px;
      padding-top: 5px;
}

.startseite{
   position: absolute;
   width: 100%;
   height: 100%;
}
.startGame{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.removeHeader .desktopNav{
   margin-top: -80px;
}

.desktopNav{
   transition: margin .3s ease-in-out;
}

.fart{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
    max-width: 100%;
    height: auto;
}


.mobileNav .my-profile.dropdown-toggle{
   margin-top: 17px;
}

.element-animation{
   -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
       -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
           transform-origin: 50% 50%;
   -webkit-animation: animationFrames ease-in-out 1s;
      -moz-animation: animationFrames ease-in-out 1s;
       -ms-animation: animationFrames ease-in-out 1s;
        -o-animation: animationFrames ease-in-out 1s;
           animation: animationFrames ease-in-out 1s;
   -webkit-animation-iteration-count: 1;
      -moz-animation-iteration-count: 1;
       -ms-animation-iteration-count: 1;
        -o-animation-iteration-count: 1;
           animation-iteration-count: 1;
}

@keyframes animationFrames{
   0%{
      transform: translate(-50%,-50%) scaleX(.00) scaleY(.00) ;

      opacity: 0;
   }
   100%{
      transform: translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;

      opacity: 1;
   }
}

@-moz-keyframes animationFrames{
   0%{
      -moz-transform: translate(-50%,-50%) scaleX(.00) scaleY(.00) ;

      opacity: 0;
   }
   100%{
      -moz-transform: translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;

      opacity: 1;
   }
}

@-webkit-keyframes animationFrames{
   0%{
      -webkit-transform: translate(-50%,-50%) scaleX(.00) scaleY(.00) ;

      opacity: 0;
   }
   100%{
      -webkit-transform: translate(-50%,-50%)  scaleX(1.00) scaleY(1.00) ;

      opacity: 1;
   }
}

@-o-keyframes animationFrames{
   0%{
      -o-transform: translate(-50%,-50%)  scaleX(.00) scaleY(.00) ;

      opacity: 0;
   }
   100%{
      -o-transform: translate(-50%,-50%)  scaleX(1.00) scaleY(1.00) ;

      opacity: 1;
   }
}

@-ms-keyframes animationFrames{
   0%{
      -ms-transform: translate(-50%,-50%) scaleX(.00) scaleY(.00) ;

      opacity: 0;
   }

   100%{
      -ms-transform: translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;

      opacity: 1;
   }
}

@media (min-width: 0) and (max-width: 800PX) {

body, html, .wrapper {
    overflow-x: hidden;
}
}