body {
    padding-top: 0px!important;
    min-height: 100vh;
}

.gameWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.game{
    width: 100%;
    height: 100%;
    position:relative;
}

.stats{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
    padding-top: 5px;
}

.startseite{
    height: 100%;
    width: 100%;
    position: absolute;
}
.startGame{
    top: 50%;
    left: 45%;
    position: absolute;
}

.removeHeader .desktopNav{
    margin-top: -80px;
}

.desktopNav{
    transition: margin 0.3s ease-in-out;
}

.furt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}


.mobileNav .my-profile.dropdown-toggle{
   margin-top: 17px;
}

.element-animation{
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-50%,-50%) scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    transform:  translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform: translate(-50%,-50%) scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -moz-transform: translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(-50%,-50%) scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(-50%,-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(-50%,-50%)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(-50%,-50%)  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(-50%,-50%) scaleX(0.00) scaleY(0.00) ;
  }

  100% {
    opacity:1;
    -ms-transform:  translate(-50%,-50%) scaleX(1.00) scaleY(1.00) ;
  }
}