<form name="singupForm" ng-submit="signup(user.signup, singupForm)">
  <div class="form-group input-group">
    <label class="input-group-addon control-label" for="emailInput">{{'EMAIL' | translate}}</label>
      <input type="email" class="form-control" id="emailInput" name="email" style="z-index: 1"
             ng-model="user.signup.email">
      <div style="position:absolute; width:100%; height: 100%; top: 0; left: 0; cursor:text; z-index: 2" 
                 onclick="$('#emailInput').focus();return false;"
                 ontouchstart="$('#emailInput').focus();return false;"></div>
  </div>
  <div class="form-group input-group">
    <label class="input-group-addon control-label" for="newPasswordInput">{{'PASSWORD' | translate}}</label>
      <input type="password" class="form-control" id="newPasswordInput"  style="z-index: 1"
             placeholder="{{'PASSWORD_MINCHAR'| translate}}" name="password" ng-model="user.signup.password"  >
      <div style="position:absolute; width:100%; height: 100%; top: 0; left: 0; cursor:text; z-index: 2" 
                 onclick="$('#newPasswordInput').focus();return false;"
                 ontouchstart="$('#newPasswordInput').focus();return false;"></div>
  </div>
    <ul ng-if="errors && errors.signup.length" class="text-danger list-unstyled">
        <li ng-repeat="error in errors.signup">{{error.message | translate}}</li>
    </ul>
  <button type="submit" id="create-acct-btn" class="btn btn-primary btn-lg btn-block"
          ontouchstart="$('#create-acct-btn').trigger('click'); return false;">{{'CREATE_ACCOUNT' | translate}}</button>
</form>